# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# I own a mac
.DS_Store

# ignore downloaded maps
voxblox_sst_planner/maps/**

#ignore python related caches
**/.ipynb_checkpoints/

#ignore pytorch
# **/*.pth
# **/*.pt
voxblox_mpc_mpnet_planner/model/output
voxblox_mpc_mpnet_planner/model/dataset/data
#ignore python stuff
**/*.pyc
#**/output/

**/*.npy

voxblox_mpc_mpnet_planner/deps/
